body{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
button {
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid black;
    background-color: blueviolet;
    color: #ffff;
}